In [1]:
import json
import os
from sqlalchemy import create_engine #데이터 베이스와 연결하기 위한 라이브러리
from sqlalchemy import MetaData #메타데이터를 받아오기 위한 라이브러리
from sqlalchemy.engine import reflection #데이터 베이스 내의 정보를 가져오기 위한 라이브러리
from faker import Faker #더미데이터만들기 위해 사용

In [2]:
from tools.temp_tool import get_connectData #연결 정보를 가져오는 함수 import

In [3]:
connectData = get_connectData('setting/config.json')

In [4]:
def connect_DB(connectData : dict) :
    connection_string = f'{connectData['mysql-login']['db_type']}://{connectData['mysql-login']['user_name']}:{connectData['mysql-login']['user_pw']}@{connectData['mysql-login']['db_server']}:{connectData['mysql-login']['db_port']}/{connectData['mysql-login']['db_name']}?charset={connectData['mysql-login']['charset']}'
    engine = create_engine(connection_string, echo=False)
    #메타데이터 가져오기
    metadata = MetaData()
    # 데이터베이스에서 테이블 정보 반영
    metadata.reflect(bind=engine)
    # 터미널 내용 삭제
    # os.system('clear')
    # 데이터베이스 인스펙터 객체 생성
    inspector = reflection.Inspector.from_engine(engine)
    return engine, metadata, inspector

In [5]:
engine, metadata, inspector = connect_DB(connectData)

/var/folders/_0/sglhm_1s48z2d21krx9htrb40000gn/T/ipykernel_7516/313679101.py:11: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = reflection.Inspector.from_engine(engine)

In [6]:
def get_table_lists(inspector, table_name:str) :
    #테이블 이름 가져오기, 리스트 형식
    return inspector.get_table_names(table_name)

In [7]:
tables = get_table_lists(inspector,'airportdb')

In [32]:
def get_tables_detail(tables, inspector): 
    table_detail = dict()
    #정보 및 제약조건 가져오기
    for table in tables :
        if table not in table_detail.keys() : 
            table_detail.update({table : {}})
        columns = inspector.get_columns(table)
        temp = []
        # temp['constrained_columns'] = inspector.get_pk_constraint(table)['constrained_columns']
        for column in columns:
            # Unique 제약 확인
            unique_constraints = inspector.get_unique_constraints(table)
            if any(column['name'] in uc['column_names'] for uc in unique_constraints) :
                column['unique'] = True
            else :
                column['unique'] = False
            temp.append(column)
        #PK 제약조건 가져오기
        temp.append({'table_pk_details' :inspector.get_pk_constraint(table)['constrained_columns']})
        table_detail.update({table : {'details' : temp}})
        
    # del temp
        del temp
    return table_detail

In [10]:
def get_view_list(inspector) :
    return inspector.get_view_names()

In [13]:
view_list = get_view_list(inspector)

In [25]:
def get_view_detail(view_list, inspector) : 
    view_detail = dict()
    #정보 및 제약조건 가져오기
    for view in view_list :
        if view not in view_detail.keys() : 
            view_detail.update({view : {}})
        columns = inspector.get_columns(view)
        temp = []
        # temp['constrained_columns'] = inspector.get_pk_constraint(table)['constrained_columns']
        for column in columns:
            # Unique 제약 확인
            unique_constraints = inspector.get_unique_constraints(view)
            if any(column['name'] in uc['column_names'] for uc in unique_constraints) :
                column['unique'] = True
            else :
                column['unique'] = False
            temp.append(column)
        #PK 제약조건 가져오기
        temp.append({'table_pk_details' :inspector.get_pk_constraint(view)['constrained_columns']})
        view_detail.update({view : {'details' : temp}})
        
    # del temp
        del temp
    return view_detail

In [27]:
table = tables[0]

'airline'

In [30]:
def get_table_detail(table, inspector) :
    table_detail = dict()
    #정보 및 제약조건 가져오기

    if table not in table_detail.keys() : 
        table_detail.update({table : {}})
    columns = inspector.get_columns(table)
    temp = []
    # temp['constrained_columns'] = inspector.get_pk_constraint(table)['constrained_columns']
    for column in columns:
        # Unique 제약 확인
        unique_constraints = inspector.get_unique_constraints(table)
        if any(column['name'] in uc['column_names'] for uc in unique_constraints) :
            column['unique'] = True
        else :
            column['unique'] = False
        temp.append(column)
    #PK 제약조건 가져오기
    temp.append({'table_pk_details' :inspector.get_pk_constraint(table)['constrained_columns']})
    table_detail.update({table : {'details' : temp}})
        
    del temp
    return table_detail

In [33]:
tables_detail = get_tables_detail(tables, inspector)

In [34]:
tables_detail

{'airline': {'details': [{'name': 'airline_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'iata',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=2),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': True},
   {'name': 'airlinename',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=30),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'base_airport',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['airline_id']}]},
 'airplane': {'details': [{'name': 'airplane_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'capacity',
    'type': MEDIUMINT(unsigned=True),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'type_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'airline_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['airplane_id']}]},
 'airplane_type': {'details': [{'name': 'type_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'identifier',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=50),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'description',
    'type': TEXT(charset='utf8mb4', collation='utf8mb4_unicode_ci'),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'table_pk_details': ['type_id']}]},
 'airport': {'details': [{'name': 'airport_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'iata',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=3),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'icao',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=4),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': True},
   {'name': 'name',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=50),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'table_pk_details': ['airport_id']}]},
 'airport_geo': {'details': [{'name': 'airport_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'name',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=50),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'city',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=50),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'country',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=50),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'latitude',
    'type': DECIMAL(precision=11, scale=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'longitude',
    'type': DECIMAL(precision=11, scale=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'table_pk_details': ['airport_id']}]},
 'airport_reachable': {'details': [{'name': 'airport_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'hops',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['airport_id']}]},
 'booking': {'details': [{'name': 'booking_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'flight_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': True},
   {'name': 'seat',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=4),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': True},
   {'name': 'passenger_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'price',
    'type': DECIMAL(precision=10, scale=2),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'table_pk_details': ['booking_id']}]},
 'employee': {'details': [{'name': 'employee_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'firstname',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'lastname',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'birthdate',
    'type': DATE(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'sex',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=1),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'street',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'city',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'zip',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'country',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'emailaddress',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=120),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'telephoneno',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=30),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'salary',
    'type': DECIMAL(precision=8, scale=2),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'department',
    'type': ENUM('Marketing', 'Buchhaltung', 'Management', 'Logistik', 'Flugfeld', charset='utf8mb4', collation='utf8mb4_unicode_ci'),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'username',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=20),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': True},
   {'name': 'password',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=32),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'table_pk_details': ['employee_id']}]},
 'flight': {'details': [{'name': 'flight_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'flightno',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'from',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'to',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'departure',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'arrival',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'airline_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'airplane_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['flight_id']}]},
 'flight_log': {'details': [{'name': 'flight_log_id',
    'type': INTEGER(unsigned=True),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'log_date',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'user',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'flight_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'flightno_old',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'flightno_new',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'from_old',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'to_old',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'from_new',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'to_new',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'departure_old',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'arrival_old',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'departure_new',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'arrival_new',
    'type': DATETIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'airplane_id_old',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'airplane_id_new',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'airline_id_old',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'airline_id_new',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'comment',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=200),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'table_pk_details': ['flight_log_id']}]},
 'flightschedule': {'details': [{'name': 'flightno',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=8),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'from',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'to',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'departure',
    'type': TIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'arrival',
    'type': TIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'airline_id',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'monday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'tuesday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'wednesday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'thursday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'friday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'saturday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'name': 'sunday',
    'type': TINYINT(display_width=1),
    'default': "'0'",
    'comment': None,
    'nullable': True,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['flightno']}]},
 'passenger': {'details': [{'name': 'passenger_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': True,
    'unique': False},
   {'name': 'passportno',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=9),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': True},
   {'name': 'firstname',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'lastname',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'table_pk_details': ['passenger_id']}]},
 'passengerdetails': {'details': [{'name': 'passenger_id',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'birthdate',
    'type': DATE(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'sex',
    'type': CHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=1),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'street',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'city',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'zip',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'country',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=100),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'emailaddress',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=120),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'telephoneno',
    'type': VARCHAR(charset='utf8mb4', collation='utf8mb4_unicode_ci', length=30),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'table_pk_details': ['passenger_id']}]},
 'weatherdata': {'details': [{'name': 'log_date',
    'type': DATE(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'time',
    'type': TIME(),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'station',
    'type': INTEGER(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'name': 'temp',
    'type': DECIMAL(precision=3, scale=1),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'humidity',
    'type': DECIMAL(precision=4, scale=1),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'airpressure',
    'type': DECIMAL(precision=10, scale=2),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'wind',
    'type': DECIMAL(precision=5, scale=2),
    'default': None,
    'comment': None,
    'nullable': False,
    'unique': False},
   {'name': 'weather',
    'type': ENUM('Nebel-Schneefall', 'Schneefall', 'Regen', 'Regen-Schneefall', 'Nebel-Regen', 'Nebel-Regen-Gewitter', 'Gewitter', 'Nebel', 'Regen-Gewitter', charset='utf8mb4', collation='utf8mb4_unicode_ci'),
    'default': None,
    'comment': None,
    'nullable': True,
    'unique': False},
   {'name': 'winddirection',
    'type': SMALLINT(),
    'default': None,
    'comment': None,
    'nullable': False,
    'autoincrement': False,
    'unique': False},
   {'table_pk_details': ['log_date', 'time', 'station']}]}}